/* Main settings */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../pics/a.jpg);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}


/* Container */

.container{
    max-width: 500px;
    margin: 10rem auto;
    text-align: center;
}
.container h2{
    border-bottom: 1px #17D4FE solid;
    margin-bottom: 1rem;
}
.clock{
    text-align: center;
}